<div class="advisor-card" data-advisor-id="{{ advisor_id }}">
  <img src="{{ image_path }}" alt="{{ 'Appointment'|t }}" style="width: 50px; height: auto; display: block; margin: 0 auto;" />
  <h3>{{ advisor.getDisplayName() }}</h3>
</div>
